langchain_openai 
langchain_core
python-dotenv~=1.0.1
streamlit~=1.43.2
langchain_community
langserve~=0.3.1
fastapi~=0.115.11
uvicorn~=0.34.0
sse_starlette
bs4~=0.0.2
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4~=4.13.3
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
langchain-community~=0.3.20
langchain~=0.3.21
requests~=2.32.3
langchain-openai~=0.1.7
langchain-core~=0.3.47